

/* CSS FOR TABLE RECORDS */
  .body {

	margin: 0;
	padding: 0;
	background:  none;
	background-position: center;
  }

  .table-container {

	padding-right: 9rem;
	margin-left: 19rem;
	margin-top: 50px;
	position: fixed;
	
  }


  .heading {
	font-size: 40px;
	text-align: center;
	color: #555d5d;
	margin-bottom: 10px;
	margin-top: 20px;
  }

  .table {
	width: 100%;
	border-collapse: collapse ;
	align-items: center;
	background-color: #555d5d; 
	color: #f2f8ee;
	border: 1.2px solid #f5f5f5;
	text-align: center;
	
  }

  .table thead {
	background-color: #555d5d;
  }

  .table thead tr th {
	font-size: 16px;
	font-weight: 200l;
	letter-spacing: .5px;
	color: #f2f8ee;
	opacity: 1;
	border: 1.2px solid #f5f5f5;
	text-align: center;
	  background:#5a9696;
  }

.table thead td{
	color: white;
	padding: 20px;
	font-size: 14px;
	border: 1.2px solid #f5f5f5;
	vertical-align: center;
	
}


  @media (max-width: 770px) {
	.table thead {
	  display: none;
	}

	.table,
	.table tbody,
	.table tr,
	.table td {
	  display: block;
	  width: 100%;
	}

	.table tr {
	  margin-bottom: 15px;
	}

	.table tbody tr td {
	  text-align: right;
	  padding-left: 50%;
	  position: relative;
	}

	.td::before {
	  content: attr(data-label);
	  position: absolute;
	  left: 0;
	  width: 50%;
	  padding-left: 15px;
	  font-weight: 600;
	  font-size: 12px;
	  text-align: left;
	}

	.heading h1 {

	  text-align: center;
	  margin-bottom: 20px;
	}

  }

