/* SEARCH BOX */

.form{
    margin: 0;
	padding: 0; 
    box-sizing: border-box;
	padding: 0; 

	
}

.search-container{

	margin: 0;
	padding-top: 10px;
	background: #5a9696;
	padding-left: 8rem;
	align-items: center;;
    padding-right: 8rem;
}

input{

	padding: 5px;
	margin-left: 2rem;
	width:40rem;
}

