/* SEARCH BOX */

.form{
    margin: 0;
	padding: 0; 
    box-sizing: border-box;
	padding: 0; 
	margin-left: 0rem;

	
}

.search-container{

	margin: 0;
	padding-top: 10px;
	background: #5a9696;
	padding-left: 7rem;
	align-items: center;;
    padding-right: 15rem;
	margin-top: 2rem;
}

.search_bar_style input{

	padding: 0;
	margin-left:5rem;
	width:27rem;

}

